@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
assignbutton{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
assignbutton hover{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
assignbutton hover:before,
assignbutton hover:after{
  position: absolute;
  content: "Assign";
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
assignbutton hover:before{
    color: #fff;
    background: #000;
  
  transform: rotateY(0deg) translateZ(25px);
}
assignbutton hover:after{
    color: #000;
    background: #fff;
  transform: rotateX(90deg) translateZ(25px);
}
assignbutton hover:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
unassignbutton{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
unassignbutton hover{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
unassignbutton hover:before,
unassignbutton hover:after{
  position: absolute;
  content: "Unassign";
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
unassignbutton hover:before{
    color: #fff;
    background: #000;
  
  transform: rotateY(0deg) translateZ(25px);
}
unassignbutton hover:after{
    color: #000;
    background: #fff;
  transform: rotateX(90deg) translateZ(25px);
}
unassignbutton hover:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
